html, body {
  height: 100%;
  width: 100%;
}

body{
  background-color: honeydew;
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  position: relative; left: 875px;
}

.topnav a:hover {
  background-color: #848B79;
  color: black;
}

.topnav a.active {
  background-color:#046307;
  color: white;
}

.introimg{
width:250px;
}